h1 {
    text-align: center;
}

.btn {
    border-radius: 5px;
    height: 40px;
    /* width: 100px; */
    font-size: 24px;
    margin: auto;
    display: block;
}

.btnDiv {
    display: flex;
    background-color: rgb(210, 233, 255);
    width: 80%;
    margin: auto;
    border: 2px solid rgb(180, 200, 235);
    margin-bottom: 5px;
}

.field-input {
    background-color: rgb(210, 233, 255);
    border: 2px solid rgb(180,200,235);
    margin: auto;
    margin-bottom: 5px;
    width: 80%;
    /* margin: auto; */
}

.date {
    display: flex;
    font-size: 24px;
}

.address {
    display: flex;
    flex-direction:column;
    /* padding: 10px; */
}

.address > input {
    margin-bottom: 5px;
}

.address > select {
    font-size: 24px;
    width: 80%;
    margin-bottom: 5px;
}

.address > label {
    font-size: 24px;
}

.section {
    background-color: rgb(240, 245, 255);
}

.form {
    background-color: rgb(233, 245, 250)
}

input {
    font-size: 24px;
    height: 30px;
    width: 80%;
}